@font-face {
  font-family: "Barbara";
  src: url("./assets/BARABARA.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
}
