.hero {
  min-height: 100vh;
  background-image: url("/Public/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 120px;
  padding: 0 110px;
  color: #ffffff;
  
  
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-family: "Barbara", sans-serif;
  font-size: 65px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.hero-content p {
  line-height: 1.5;
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.explore-btn {
  background: #2563eb;
  backdrop-filter: blur(10px);
  padding: 12px 24px;
  border-radius: 30px;
  border: 0.5px solid white;
  letter-spacing: 0.5;
 
  color: white;
  cursor: pointer;
  font-size: larger;
 
}




.hero-search {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.search-input-wrapper {
  position: relative;
}

.search-input-wrapper input {
  width: 380px;
  padding: 14px 20px 14px 45px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
}

.hero-search select {
  padding: 14px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.highlight {
  background: yellow;
  font-weight: bold;
}

.no-results {
  text-align: center;
  padding: 40px;
  color: #6b7280;
}





.map-section {
  padding: 80px 60px;
  background: #f9fafb;
  text-align: center;
  
}

.map-section h2 {
  font-size: 32px;
  color: #2563eb;
  margin-bottom: 10px;
}
.subtitle {
  color: #6b7280;
  margin-bottom: 50px;
}

.map-container {
  margin-top: 40px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12);
  position: relative;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
  border-radius: 10px !important;
  overflow: hidden;
  padding-left: 5px !important;
  padding-top: 5px !important;
}

.leaflet-control-zoom a {
  background: white !important;
  color: #2563eb !important;
  font-weight: bold;
  transition: 0.5s ease;
}

.leaflet-control-zoom a:hover {
  background: #2563eb !important;
  color: white !important;
}
.leaflet-popup-content-wrapper {
  border-radius: 10px !important;
  padding: 10px !important;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2) !important;
  width: 115%;
}

.leaflet-popup-content {
  margin: 0% !important;
  font-family: inherit;
}

.leaflet-popup-close-button:hover {
  color: #2563eb;
}

.custom-popup {
  text-align: left;
}

.custom-popup img {
  width: 120%;
  border-radius: 8px;
  margin-bottom: 8px;
  
}

.custom-popup h4 {
  margin: 0;
  font-size: 14px;
  color: #2563eb;
  letter-spacing: 0.2px;
}

.custom-popup span {
  font-size: 13px;
  color: #6b7280;
}




.destinations {
  padding: 80px 60px;
  background: #f9fafb;
  text-align: center;
}

.destinations h2 {
  font-size: 32px;
  color: #2563eb;
  margin-bottom: 10px;
}

.destinations .subtitle {
  color: #6b7280;
  margin-bottom: 50px;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.destination-card {
  background: rgba(255, 255, 255, 0.907);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.destination-card:hover {
  transform: translateY(-6px);
}

.destination-card img {
  width: 100%;
  height: px;
  object-fit: cover;
  border-radius: 30px;
  padding: 10px;
}

.card-info {
  padding: 16px;
  text-align: left;
  color: #2563eb;
}

.card-info h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.card-info span {
  font-size: 14px;
  color: #6b7280;
}






.features {
  padding: 80px 60px;
  background: #2563eb;
  text-align: center;
  color: white;
}

.features h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.features .subtitle {
  margin-bottom: 50px;
  color: #dbeafe;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.feature-card {
  background: white;
  color: #1f2937;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-card img {
  width: 100px;
  margin-bottom: 20px;
}

.feature-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.feature-card p {
  font-size: 14px;
  color: #6b7280;
}






.navbar {
  position: absolute;
  top: 0;
  width: 98%;
  height: 8%;
  border-radius: 20px 20px 20px 20px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  z-index: 1000;
 
 
}

.nav-left {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.nav-center span {
  margin: 0 15px;
  cursor: pointer;
}

.nav-right button {
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  cursor: pointer;
  border: #ffffff solid 0.5px;
  letter-spacing: 0.5px;
  
}

.profile-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  
}


